<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1 Drivers</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css//bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>


<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" type="button" href="./">Formula 1 Stats Dashboard</a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href="./">Home</a></li>
                <li class="active"><a href="./drivers">Drivers</a></li>
                <li><a href="./circuits">Circuits</a></li>
                <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
            </ul>
    </div>
</div>


<div id="outer" class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h1>Choose a Driver</h1>
            <p>Select a driver to learn more about the driver's statistics and history through his/her very own Wikipedia page
            linked to the right and also a Pie Chart detailing all of the drivers' finishing positions throughout their Formula 1 Career</p>
            <div id="driverSelect" data-step="1" data-intro="Choose a driver from the drop down selection box and the
            below pie chart and Wikipedia driver information section will change to match the chosen driver" style="font-weight: normal" data-position="right"></div>
            <div id="driverPositions" data-step="2" data-intro="Once a driver has been chosen the pie chart will show
            how many times the driver has finished in each position in total." style="font-weight: normal" data-position="right"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8" data-step="3" data-intro="The Wikipedia iframe here will
        change to show the profile of the selected driver" style="font-weight: normal" data-position="right">

            <iframe id="driverWiki" src="https://en.wikipedia.org/wiki/Formula_One"  width="900" height="1000">

            </iframe>

        </div>



    </div>
</div>

<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph_drivers.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
</body>
</html>

