<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formula 1 Stats</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css//bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">F1 Stats Dashboard</a>
            <a class="navbar-brand" autofocus href="#" onclick="javascript:introJs().start();">
                Start Tour!
            </a>
        </div>
    </div>
</div>

<div id="outer" class="container-fluid">


    <div class="row">

        <div class="col-sm-8">
            <div class="row">

                <div id="rowChart">

                </div>

                <div id="lapsChart">

                </div>

                <iframe id="driverWiki" src="https://en.wikipedia.org/wiki/Main_Page"  width="500" height="500">


                </iframe>

                <div id="lineChart">

                </div>



                <div id="barchart" style="width: 500px; height: 500px;">

                </div>


                <!-- Total Points Chart -->
                <div class="col-sm-12">
                    <div class="chart-wrapper" data-step=" 1 " data-intro=" The description that you want"
                         style="font-weight: normal" data-position="right">
                        <div class="chart-title">
                            Total Number of Points
                        </div>
                        <div class="chart-stage">
                            <div id="time-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
</body>
</html>