<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formula 1 Stats</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css//bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>


<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" type="button" href="./">Formula 1 Stats Dashboard</a>
        </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="./">Home</a></li>
                <li><a href="./drivers">Drivers</a></li>
                <li><a href="./circuits">Circuits</a></li>
                <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
            </ul>
    </div>
</div>

<div id="outer" class="container-fluid">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p id="mainTextBox">This page shows a variety of Formula 1 Drivers' statistics which are all interactive through the power of D3.js
            The chart on the left shows a timeline of Formula 1 results based on total laps driven by all Drivers participating in that year,
            from 1950, all the way to the end of the 2016 season.
            You may select a portion of the timeline to see who had the most points, or laps driven as displayed by the charts above, to see who was the
            best at each statistic for your selected time period.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" data-step="1" data-intro="This bar chart tracks the total points
            accumulated for drivers of all time. Select a time period on the line chart below to see the data change to
            represent the chosen time period." style="font-weight: normal" data-position="right">
            <h2>Total Points Acquired</h2>

            <div id="rowChart">

            </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6" data-step="2" data-intro="This bar chart tracks the total laps
            accumulated for drivers of all time. Select a time period on the line chart below to see the data change to
            represent the chosen time period." style="font-weight: normal" data-position="right">
            <h2>Total Laps Completed</h2>


            <div id="lapsChart">

            </div>
        </div>
     </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-step="3" data-intro="This line chart spans in time from
        1950 when Formula 1 began, to the current finished season in 2016. Choose a custom length in years by dragging
        from one point to another in the line graph, and the above two bar chart's data will recalculate to show data
        from the new current time field." style="font-weight: normal" data-position="right">

            <div id="lineChart">

            </div>
        </div>

    </div>

</div>

<!--<iframe id="driverWiki" src="https://en.wikipedia.org/wiki/Main_Page"  width="500" height="500"></iframe>-->





<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
</body>
</html>